p {color: black;}
body {background-color:black;}
div {
    background-color: blanchedalmond;
    visibility: visible;
    border-style: solid;
    border-color: black; 
    border-width: 5px;  
    border-radius:  0px;
    padding: 15px;
    box-sizing: border-box;
}
div.lefttop {
    position: absolute;
    /* max-width: 75%; */
    height: 85%;
    bottom: 85%;
    top: 0%;
    left: 0%;
    right: 30%;
}
div.righttop {
    position: absolute;
    
    /* max-width: 25%; */
    height: 70%;
    /* float: right; */
    bottom: 0%;
    top: 0%;
    left: 70%;
    right: 0%;
}
div.leftbottom {
    position: absolute;
    /* max-width: 75%; */
    height: 15%;
    bottom: 0%;
    top: 85%;
    left: 0%;
    right: 30%;
}
div.rightbottom {
    position: absolute;
    
    /* max-width: 25%; */
    height: 30%;
    /* float: right; */
    bottom: 0%;
    top: 70%;
    left: 70%;
    right: 0%;
}
label {
    color: black;
}

svg {
    position:absolute; 
    background:firebrick;
    left:0; top:0; width:100%; height:100%;
}